.container {
  color: rgba(var(--mainColor), 1);
}

.Navbar {
  font-size: 1.4em;
  font-family: HeadFont;
}

.Body {
  font-size: 1.7em;
  font-family: BodyFont;
  display: flex;
  flex-direction: column;
}

.Footer {
}

@media screen and (max-width: 1100px) {
  .Navbar{ font-size: 1.2em }
  .Body{ font-size: 1.5em }
}

@media screen and (max-width: 800px) {
  .Navbar{ font-size: 1em }
  .Body{ font-size: 1.3em }
}
