/* container */
/* --------- */
.container {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.foreground,
.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* foreground */
/* ---------- */
.foreground {
  display: flex;
  padding: 0 5%;
}

.foreground > div {
  height: 100%;
  padding: 0 7%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foreground * {
  margin: 0;
  padding: 6% 0;
}

.foreground a {
  margin: 0;
  padding: 5%;
  font-size: 1.7rem;
  border-radius: 25px;
  border: 2px solid white;
  color: inherit;
  background: inherit;
  transition: all 300ms ease;
}

.container a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* background */
/* ---------- */
.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background img {
  top: 0;
  left: 10%;
  position: relative;
  height: 100%;
  width: auto;
}
